doctype html
html(lang='en')
	head
		title My Web Site
		script(src='/socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		script(src='/js/main.js')
		block scripts
	block content
